*{
    margin: 0;
    padding: 0;
}

.main{
    margin: 100px;
}

.movie-details{
    /* padding: 120px; */

    /* background-color: black;
    color: white; */
}

.movie-details-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.movie-details-left{
    font-size: 19px;
}

.movie-details-left > h1{
    font-size: 24px;
}

.movie-details-right{
    font-size: 19px;
}

.movie-details-rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-details-rating > h1{
    font-size: 24px;
    
}

.movie-details-rate > img{
    width: 25px;
}

.movie-details-desc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movie-details-image > img{
    width: 22rem;
    height: 32rem;
}

.movie-details-trailer{
    width: 56rem;
    height: 32rem;
}

.movie-types{
    margin: 20px 0;
}

.movie-type{
    font-size: 15px;
    padding: 5px 13px;
    border-radius: 20px;
    border: solid 1px black;
}

.movie-para-description{
    font-size: 20px;
    margin: 25px 0;
}

.credit{
    font-size: 20px;
    margin: 17px 0;
    display: flex;
    flex-direction: row;
}

.credit > strong{
    padding: 0 6px;
}